/* Reset Style */
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	font-family: 'Segoe UI', sans-serif;
	padding: 0;
	margin: 0;
	background: #485164;
	color: #fff;
	padding: 164px 125px;
}

h1, h2, h3, h4, h5, h6{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-weight: bold;
	margin: 0;
}

p{
	margin: 0;
}

h1{
	font-size: 40px;
}

.d-flex{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.justify-content-start{
	justify-content:flex-start;
	flex-direction: row;
}

.justify-content-between{
	justify-content:space-between;
}

.justify-content-end{
	justify-content:flex-end;
}

.direction-column{
	flex-direction: column;
}

.heading__intro{
	font-size: 24px;
	margin-top: 15px;
}

.case{
	padding-top: 100px;
	color: #485164;
}

.case__title{
	font-size: 20px;
	color: #8BABEF;
}

.case__wrap{
	background: #5B6375;
	padding: 103px;
}

.case__card{
	background: #fff;
	width: 264px;
	padding: 30px;
	margin-right: 57px;
}

.case__img{
	height: 129px;
	background: #E5E5E5;
	margin-bottom: 22px;
}

.case__card-title{
	font-size: 16px;
	margin-bottom: 14px;
}

.case__text{
	font-size: 13px;
}

.case__holder{
	margin-top: 25px;
}

.case__btn{
	width: 26px;
	height: 26px;
	margin-right: 14px;
}
.case__btn_pink{
	background: #FC69A9;
}

.case__btn_blue{
	background: #69BCFC;
}

.case__btn_green{
	background: #69FCB7;
}
.btn-holder{
	margin-top: 67px;
}

.btn-holder__item{
	font-weight: bold;
	font-size: 15px;
	color: #fff;
	width: 209px;
	padding: 18px 0;
	border-radius: 100px;
	margin-right: 34px;
	border: none;
	cursor: pointer;
	transition: all 0.5s ease;
}

.btn-holder__item:hover{
	opacity: 0.8;
}

.btn-holder__item_purple{
	background: #7590CE;
}

.btn-holder__item_orange{
	background: #EBAD67;
}

.btn-holder__item_green{
	background: #67D0EB;
}

.btn-holder__item_violet{
	background: #8567EB;
}

.case__card_long{
	width: 100%;
	margin-right: 0;
	margin-bottom: 40px;
}

.case__wrap_lines{
	flex-wrap: wrap;
}
